body{
    margin: auto;
    height: 100%;
	background: linear-gradient(95deg, #49a09d, #5f2c82);
}

.container{
    margin: 50px;
}

#display-info{
    display: block;
    margin: auto;
    width: 50%;
    background: radial-gradient(circle, rgba(11,14,30,1) 11%, rgba(148,187,233,1) 92%);
}

h3{
    margin-left: 40%;
    font-size: 40px ;
    font-weight: 600;
    background-image: linear-gradient( #7f5a83, #e5e9ec );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: cursive;
}

h4{
    margin-left: 40%;
    font-size: 30px;
    font-family: serif;
}

p{
    font-weight: bold;
    font-style: italic;
}
.info{
    margin-left: 35%;
}
#search-box{
    color: whitesmoke;
    font: bolder;
    font-size: 30px;
}


.input{
    font-family: inherit;
    margin-left: 335px;
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(90, 87, 87);
    padding: 7px 0;
    background: transparent;
    transition: 0.5s
    
}

button{
 
   height: 50px;
   width: 150px;
   border-radius: 4px;
   position: relative;
   border: none;
   cursor: pointer;
   
   background-color: #7f5a83;
   background-image: linear-gradient(315deg, #7f5a83 0%, #527085 64%);
   transition: 500ms;

}

.fetch-btn{
    color: white;
    font-weight: bold;
    display: block;
    margin: auto;
}

button:active{
    box-shadow: 5px 5px 5px #bab2be;

}


.fetch-btn:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 15px rgba(197, 186, 205, 0.825)
}


p{
    font-style: italic;
    padding: 15px;
    font-size: 15px;
    width: 60%;
    color: whitesmoke;
    
}

img{
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 5px;
    width: 50%;
}