body{
    margin: auto;
    height: 100%;
	background: linear-gradient(95deg, #010101, #2a4e7b);
}
/*containers*/
.container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center
    
}

  .info {
    font-size: 20px;
    padding-left: 20px;
}

#display-info{
    display: flex;
    margin: auto;
    width: 50%;
    background-image: linear-gradient(315deg, #7f5a83 0%, #7590a3 64%);
    border-radius: 5px;

    max-width: 100% ;
    flex-basis: 40%;
}

/*movie title & img*/
.display {
    max-width: 100% ;
    flex-basis: 40%;
}

#search-box{
    color: whitesmoke;
    font: bolder;
    font-size: 30px;
}

.input{
    margin: 50px;
    font-family: inherit;
    
    width: 30%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(90, 87, 87);
    padding: 7px 0;
    background: transparent;
    transition: 0.5s
    
}
/*button*/
button{
 
   height: 50px;
   width: 150px;
   border-radius: 4px;
   position: relative;
   border: none;
   cursor: pointer;
   
   background-color: #7f5a83;
   background-image: linear-gradient(315deg, #7f5a83 0%, #527085 64%);
   transition: 500ms;

}

.fetch-btn{
    color: white;
    font-weight: bold;
    display: block;
    margin: auto;
}
 button:hover{
    background-color: aqua;
    box-shadow: 0 0 26px 1px  white;
}
button:active{
    background-color: antiquewhite;
    background-image: linear-gradient(315deg, #4d6691 0%, #cec9d0 64%);

}
/*poster*/
img{
    margin-left: 65px;
    width: 150%;
    border-radius: 5px;
}
/*font styles*/
 h3{
    color: antiquewhite; font-family:
      'Source Sans Pro', sans-serif; 
    font-size: 21px;
    font-weight: 500; 
    line-height: 22px; 
    margin: 0 0 15px; 
    
}

p{ 
    color: rgb(235, 224, 224); 
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
    margin: 0 0 14px; 
}

h1{ 
    margin-left: 50px;
    color: #c9d0d4; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 26px; 
    font-weight: 100; 
    line-height: 50px; 
    letter-spacing: 1px; 
    border-bottom: double rgb(255, 255, 255); }